#contentArticle{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-left: 230px;
}


.list-content{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.row{
    display: block;
    margin: 10px;
}