#contentArticle{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-left: 230px;
    background-image: url("src/assets/BackgroundContent3.jpg");
    background-size: auto 100%;
}
#contentArticle article{
    position: relative;
}