
 <header id="headerPage">
  <div id="menuContent">
    <a class="toggle-sidebar" (click)="closeAside()">
      <i class="fa fa-bars"></i>
    </a>
    <a id="titleHeader">App Books</a>
  </div>
  <div id="searchContent">

    <div class="input-group mb-3">
      <input type="text" class="form-control searchInput" placeholder="" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  <div id="avatarcontent">
    <img class="imageUser" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"/>
  </div>
</header>
