<div id="principalMenu" class="principalMenu" [@asideCollapse]="asideState" [ngClass]="(asideState == 'close')? 'aside-close': ''">
  <div id="headerMenu" class="headerMenu">
    <div style="display:block">
      <img class="imageUser" [src]="user?.photoURL" />
      <div class="user-info">
        <h3>{{user?.displayName}}</h3>
      </div>
      <span class="email-user">{{user?.email}}</span>
    </div>
    <span class="user-date">{{today | date:"EEEE, MMMM d, y" | uppercase}}</span>
  </div>

  <nav class="navListMenu">
    <ul>
      <li class="rowNav">
        <i class="fas fa-home"></i>
        <a class="itemNav" routerLink="/">Inicio</a>
      </li>
      <li class="rowNav">
        <i class="fas fa-list-alt"></i>
        <a class="itemNav" routerLink="collections">Coleccion</a>
      </li>
      <li class="rowNav">
        <i class="fas fa-star"></i>
        <a class="itemNav" routerLink="favorites">Favoritos</a>
      </li>

      <li class="rowNav">
        <i class="fas fa-sign-out-alt"></i>
        <a class="itemNav" routerLink="login" (click)="logout()">Salir</a>
      </li>
    </ul>
  </nav>
</div>
