<div id="principalMenu" class="principalMenu">
  <div id="headerMenu" class="headerMenu">
    <img class="imageUser" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"/>
    <span>Oscar Garcia</span>
  </div>
  <nav class="navListMenu">
    <ul>
      <li class="rowNav">
        <i class="fas fa-home"></i>
        <a class="itemNav" routerLink="/" >Inicio</a>
      </li>
      <li class="rowNav">
        <i class="fas fa-list-alt"></i>
        <a class="itemNav" routerLink="collections">Coleccion</a>
      </li>
      <li class="rowNav">
        <i class="fas fa-star"></i>
        <a class="itemNav" routerLink="favorites">Favoritos</a>
      </li>

      <li class="rowNav">
        <i class="fas fa-sign-out-alt"></i>
        <a class="itemNav" href="#/">Salir</a>
      </li>
    </ul>
  </nav>
</div>
