

<div class="card">
  <img class="img-coll" [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{book.volumeInfo.title}}</h5>
    <p class="card-text"> {{book.volumeInfo.description}}</p>
  </div>
  <div class="card-footer">
    <!-- <a class="col-12 col-md-auto col-lg-auto btn btn-primary" [routerLink]="['../../books/detail', book.id]">Ver Detalle</a> -->
    <a class="icon-footer">
        <i class="fas fa-trash"></i>
      </a>
      <a   class="icon-footer"[routerLink]="['../../books/detail', book.id]">
        <i class="fas fa-file-alt"></i>
      </a>
  </div>
</div>