<div class="container">
  <div class="card card-container">
      
    <div class="login-box">
      <div class="login-logo">
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        
        <app-login-form (submitted)="login($event)" (signByGoogle)="signGoogle($event)"></app-login-form>
      </div>
      
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    <div class="bottom-container">
        <div class="row">
          <div class="col">
              <a [routerLink]="['/login-register']" class="btn btn-link">Register a new membership</a>
          </div>
          <!--div class="col">
              <a [routerLink]="['/login']" class="btn btn-link">I forgot my password</a>
          </div>-->
          <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
        </div>
      </div>
  </div>
  
</div>