.books{
    margin: 40px;
    columns: 4;
    margin: 10px 0px 0px 30px;
}

.imgBooks{
    max-width: 200px;
    max-height: 200px;
    border: 1px solid lightgrey;
    margin: 10px;
    margin: 10px 10px 0px 10px;
    align-self: center;
}


.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-bottom: 20px;
} 

.card-columns .card {
    padding: 1em 0 0 0;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 5px 10px 20px #4d5380;
}

.card-img-top {
    width: 60%;
}


.card-footer{
    text-align: right;
}

.card-footer a{
    padding: 0 2% 0% 2%;
    color: #868c92;
    cursor: pointer !important;
}

.card-text:last-child {
    margin-bottom: 0;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.3em;
}


/*Modal window*/
.backdrop{ 
    background-color:rgba(0,0,0,0.6);  
    position:fixed;   
    top:0;   
    left:0;    
    width:100%;
    height:100vh;
}

.modal-dialog {
    top: 200px;
}

.modal-body {
    padding: 0rem 1rem 0rem 1rem;
}

.modal-header {
    padding: 0.2rem 0.8rem 0.3rem 1rem;
}

.modal-footer {
    padding: 0.5rem 1rem;
}
.input-group-text{
    cursor: pointer;
}