<section class="books">
  <div *ngFor="let book of booksList?.items" class="card-columns">

    <div class="card">
      <img class="rounded mx-auto d-block" [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{book.volumeInfo.title}}</h5>
        <p class="card-text"> {{book.volumeInfo.description}}</p>
      </div>
      <div class="card-footer">
        <a href="javascript:;" (click)="addFavorite(book)" alt="Agregar a favoritos">
          <i class="fas fa-heart"></i>
        </a>
        <a (click)="openModal(book)">
          <i class="fas fa-bars"></i>
        </a>
        <a [routerLink]="['../detail', book.id]">
          <i class="fas fa-file-alt"></i>
        </a>

      </div>
    </div>
  </div>
  <!-- Modal section -->
 <div class="backdrop" [ngStyle]="{'display':display}"></div>
 <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">   
   <div class="modal-dialog" role="document"> 
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
       </div>         
       <div class="modal-body"> 
         <div id="coll-category" class="hidden">
           <h1>Add to Category</h1>
           <hr>
           <div class="input-group mb-3">
             <select class="custom-select" [ngModel]="selectedValue" >
                <option [value]="Software" selected>Software</option>
                <option [value]="Fantasy">Fantasy</option>
                <option [value]="Games">Games</option>
                <option *ngFor="let cat of categoriesList | async" >{{cat}}</option>
             </select>
             <div class="input-group-append">
               <label class="input-group-text" for="inputGroupCategory" (click)="addBookToCategory('2')">Add</label>
             </div>   
           </div>
         </div>
       </div> 
       <div class="modal-footer"> 
         <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal !-->
</section>
